.box{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: relative;
    animation-name: rifat;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes rifat {
    0%{
        background-color: yellow;
        top: 0px;
        left: 0px;
    }
    25%{
        background-color: blue;
        top: 0px;
        left: 500px;
        border-radius: 100%;
    }
    50%{
        background-color: green;
        top: 500px;
        left: 500px;
        border-radius: 0%;
    }
    75%{
        background-color: black;
        top: 500px;
        left: 0px;
        border-radius: 100%;
    }
    100%{
        background-color: mediumspringgreen;
        top: 0px;
        left: 0px;
        border-radius: 0%;
    }
} 

